
body{
    font-family: sans-serif;
    background-color: A9A9A9;
}
.sidebar {
    overflow: hidden;
    position: fixed;
    top: 89px; 
    left: 18;
    margin: 0;
    padding: 0;
    width: 120px;
    background-color: rgb(255, 249, 249);
    position: fixed;
    height: 80%;
    margin-left: -10px;    
}
.sidebar a {
    display: block;
    color: black;
    padding: 14px;
    text-decoration: none;
  }

nav{
    background: gray;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    margin-left: 220px;
}

sub{
    color: whitesmoke;
    position: fixed;
    margin-left: 500;
    top: 90px;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin-left:  118px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(163, 163, 163);
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 120px;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }

img1{
    margin-left: 40%;
    margin-top: 2%;
    position: absolute;
}
q1{
  margin-top: 3%;
  margin-left: 15%;
  font-size: 18px;
  position: absolute;
}
p {
  white-space: nowrap;
}
img2{
  margin-left: 52%;
  margin-top: 2%;
  position: absolute;
}
img3{
  margin-left: 47%;
  margin-top: 3%;
  position: absolute;
}
q4{
  margin-top: 12%;
  margin-left: 15%;
  font-size: 18px;
  position: absolute;
}
img4{
  margin-left: 15%;
  margin-top: 18%;
  position: absolute;
}
q5{
  margin-top: 12%;
  margin-left: 36%;
  font-size: 18px;
  position: absolute;
}
imgg4{
  margin-left: 35%;
  margin-top: 21%;
  position: absolute;
}
q6{
  margin-top: 11.5%;
  margin-left: 65%;
  font-size: 18px;
  position: absolute;
}
imggg4{
  margin-left: 65%;
  margin-top: 18%;
  position: absolute;
}